<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Baza</title>

  <link rel="stylesheet" href="../css/home.css">
  <link rel="icon" type="image/png"  href="../images/favicon.png">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">	
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">	

</head>

<body>

    <div class="page-container">


        <div class="page-content">
            <div class="inner">
              <button id="next">next</button>
                <div class="inner__header">
                    <div class="header__icon">
                        <i class="fas fa-database"></i>
                    </div>
                    <div class="header__text">
                        Dobrodosli u bazu
                    </div>
                </div>
                <div class="inner__content">
                    <div class="question">
                        <p id='q'>Da li zelite da ucitate postojecu bazu?</p>
                        <div>
                            <button class="button" id="yes">DA</button>
                            <button class="button" id="no">NE</button>
                        </div>
                    </div>
                    <div class="choose-file">
                      
                    </div>
                    
                </div>
            </div>




        </div>

        <footer>
            <div>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>&nbsp;&nbsp;Created by Stefan Karaferovic & Luka Jovanovic
                | <i class="fab fa-github"></i> <a href="https://github.com/kalugege/softverske_komponente" target="_blank">Source code of the project</a>
            </div>
        </footer>
    </div>

  <script src="../js/js.js"></script>

</body>
</html>
