{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>Baza</title>

        <link rel="stylesheet" href="{% static '/css/home.css' %}" />
        <link
            rel="icon"
            type="image/png"
            href="{% static '/image/favicon.png' %}"
        />
        <link
            rel="stylesheet"
            href="//use.fontawesome.com/releases/v5.0.7/css/all.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <div class="page-container">
            <div class="page-content">
                <div class="inner">
                    <div class="inner__header">
                        <div class="header__icon">
                            <i class="fas fa-database"></i>
                        </div>
                        <div class="header__text">Dobrodosli u bazu</div>
                    </div>
                    <div class="inner__content">
                        <div class="question">
                            <p id="q">
                                Da li zelite da ucitate postojecu bazu?
                            </p>
                            <form id="form" method="post">
                                {%csrf_token%}
                                <div>
                                    <input
                                        type="button"
                                        class="button"
                                        id="yes"
                                        name="yes"
                                        value="yes"
                                    />
                                    <input
                                        type="button"
                                        class="button"
                                        id="no"
                                        name="no"
                                        value="no"
                                    />
                                </div>
                                <input
                                    id="next"
                                    class="button"
                                    type="submit"
                                    value="Next"
                                />
                                <input
                                    id="typeInput"
                                    type="text"
                                    class="hiden__input"
                                    name="typeInput"
                                />
                            </form>
                        </div>
                        <div class="choose-file"></div>
                    </div>
                </div>
            </div>

            <footer>
                <div>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    &nbsp;&nbsp;Created by Stefan Karaferovic & Luka Jovanovic |
                    <i class="fab fa-github"></i>
                    <a
                        href="https://github.com/stefank-29/Softverske_Komponente/tree/main/projekat"
                        target="_blank"
                        >Source code of the project</a
                    >
                </div>
            </footer>
        </div>

        <script src="{% static '/js/js.js' %}"></script>
    </body>
</html>
