{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>Baza - Kreiranje entiteta</title>

        <link rel="stylesheet" href="{% static '/css/initDataBase.css' %}" />
        <link
            rel="icon"
            type="image/png"
            href="{% static '/images/favicon.png' %}"
        />
        <link
            rel="stylesheet"
            href="//use.fontawesome.com/releases/v5.0.7/css/all.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <div class="page-container">
            <div class="page-content">
                <div class="inner">
                    <form action="?" method="POST" class="form">
                        {% csrf_token %}
                        <div class="headerItem" id="entity-name">
                            {{entitet.title}}
                        </div>
                        <div class="formHeader">
                            <!-- dodati dinamicki -->

                            {% for entitet in entitet.attributes %}

                            <div class="headerItem">{{entitet}}</div>

                            {%endfor%}
                        </div>
                        <label for="attribute" id="attributes"
                            >Unesite instance entiteta:</label
                        >

                        <div class="input__div"></div>
                        <input
                            id="count"
                            name="count"
                            type="number"
                            class="hiden__input"
                            value="0"
                        />

                        <input type="submit" value="Sacuvaj" id="submit" />
                    </form>
                </div>
            </div>

            <footer>
                <div>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    &nbsp;&nbsp;Created by Stefan Karaferovic & Luka Jovanovic |
                    <i class="fab fa-github"></i>
                    <a
                        href="https://github.com/stefank-29/Softverske_Komponente/tree/main/projekat"
                        target="_blank"
                        >Source code of the project</a
                    >
                </div>
            </footer>
        </div>

        <script src="{% static '/js/js3.js' %}"></script>
    </body>
</html>
