/********** table ***********/
table {
    width: 100%;
}
table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    outline: none;
}
td input {
    min-width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
}
th {
    padding: 1rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;

    font-size: 1.5rem;
    height: 4rem;
}
td {
    padding: 0;
    text-align: left;
    font-family: 'Roboto', sans-serif;

    font-size: 1.5rem;
    height: 4rem;
}
td input:hover {
    cursor: pointer;
    background-color: rgb(223, 215, 215);
}
td.selected input {
    background-color: rgb(216, 194, 194);
}
#t01 tr:nth-child(even) {
    background-color: #eee;
}
#t01 tr:nth-child(odd) {
    background-color: #fff;
}
#t01 th {
    background-color: rgb(50, 69, 165);
    color: white;
}

input.button {
    width: 10rem !important;
    padding: 1.2rem 0.7rem;
    margin-right: 5rem;
    font-size: 1.7rem !important;
    font-family: 'Roboto', sans-serif;
    border: none !important;
    border-radius: 5px;
    background-color: rgb(69, 150, 31) !important;
    cursor: pointer;
    outline: none;
    color: whitesmoke;
}
.button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(100, 221, 44) !important;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(10, 7, 7);
    background-image: url('../images/darkness.png');
    background-position: center;
}

.page-container {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

.page-content {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3.5rem; /* height of footer*/
}

.inner {
    position: relative;
    background-color: rgba(38, 47, 105, 0.4);
    width: 70%;
    height: 75%;
    border-radius: 10px;
    border: 3px solid rgb(38, 47, 105);
    box-shadow: 0 0 5px 1px whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.form {
    /* background-color: whitesmoke; */
    position: relative;
    height: 90%;
    width: 95%;
    padding: 3rem 3rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
}
.form label {
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    margin: 1rem 0;
}
.form input {
    width: 15rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 3px;
    border: 2px solid whitesmoke;
    outline: none;
    margin-right: 2rem;
}

.formHeader {
    position: relative;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.headerItem {
    padding: 0.5rem 0;
    margin-right: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    width: 15rem;
    background-color: red;
    text-align: center;
}
.headerItem label {
    margin-right: 1rem;
}
.headerItem select {
    padding: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
}

.headerItem {
    display: flex;
    align-items: center;
    justify-content: center;
}
#attributes {
    margin-top: 2rem;
}
.input__div {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
}

.button {
    width: 10rem;
    padding: 0.7rem 0.5rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 5px;
    background-color: rgb(221, 189, 44);
    cursor: pointer;
    outline: none;
}
.button:hover {
    background-color: rgb(203, 230, 53);
}

.button.active {
    background-color: rgb(139, 42, 42);
}

#submit {
    color: whitesmoke;
    position: absolute;
    top: -2rem;
    right: 2rem;
    padding: 0.5rem 2rem;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 5px;
    background-color: rgb(31, 85, 15);
    cursor: pointer;
}
#submit:hover {
    background-color: rgb(78, 161, 52);
}
.hiden__input {
    display: none;
}
#entity-name {
    position: absolute;
    left: 2.9rem;
    top: -2.5rem !important;
    background-color: rgb(51, 197, 117) !important;
}
/* sudo fuser -k 8000/tcp */

/******** footer **********/
footer div {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5);
}
/*rgba(39, 131, 236, 0.3);*/
footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(28, 64, 184);
}
